/* reset */
body { 
    display: block;
    
}
body > * {
    max-width:60em;
}
body > .expand {
    max-width:100%;
}
body > header {
    padding-top:35vh;
}
article > h2:first-of-type, 
main section > h2:first-of-type {
    font-size: calc(2rem + 1.5vw);
}
main a {
    color: var(--lavender); 
} 
main > section {
    background: none;
    color: var(--lavender);
    border-radius: none;
}
main > article {
    background: var(--blueberry);
    color: var(--lavender);
    border-radius: var(--rounded);
    border:1px solid var(--lavender);
}
main > article > h2:first-of-type {
    margin-top: 1rem;
}
main h3 ,
main h4 {
    font-size: 1.5em;
    margin: 2rem 0;
    color:#fff;
}
main h4 {
    font-size: 1em;
    font-weight: normal;
}

time {
    font-size: .8em;
}
svg {
    stroke: var(--lavender);
}
footer nav {
    align-items:flex-start
}
footer h2 {
    align-self: flex-end
}
/* local styles */
section {
    position: relative
}
section section:after {
    content:"";
    width:6rem;
    height:calc(100%  - 3rem);
    background: linear-gradient(90deg, rgba(5,5,66,0) 0%, rgba(5,5,66,1) 63%);
    position:absolute;
    top: 3rem;
    right:0;
}
.scrollable {
    display:flex;
    overflow-x:scroll;
    width:100%;
    list-style:none;
    margin:0 -1rem;
    grid-gap:1rem;
    padding-bottom:2rem;
    padding-right:2rem;
    position:relative;
    scroll-snap-type:x mandatory;
    scroll-padding: 1rem;
}

.scrollable li { 
    border-radius: var(--rounded);
    padding:1rem;
    display:flex;
    flex-direction: column;
    margin-bottom: 0;
    border:3px solid var(--lavender);
    min-width:18em;
    position: relative;
    scroll-snap-align: start;
}
.scrollable a {
    white-space:nowrap
}
.scrollable a:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.scrollable li p:last-of-type{
    display:none;
}

@media (min-width:40em) {

    p {
        max-width:35em
    }
}