section#sprints ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style:none;
    margin:0 -1rem;
    grid-gap:1rem;
    
}

section#sprints ul li {
    border-radius: var(--rounded);
    padding:1rem;
    display:flex;
    flex-direction: column;
    margin-bottom: 0;
    border:3px solid var(--blueberry)
}

section#sprints ul li a {
}
section#sprints ul li p {
    display:none
}

