/* reset */
html {

}
body { 
    display: block;
}
body > .expand {
    max-width:100%;
}
body > header {
    padding-top:5rem;
}
body > header > h1 > span {
    display:none
}
article > h2:first-of-type, 
main section > h2:first-of-type {
    font-size: calc(2rem + 1.5vw);
}
body main a {
    color: var(--turquoise); 
} 
body main > section {
    background: none;
    color: var(--turquoise);
    border-radius: none;
}
body main > article {
    background: var(--blueberry);
    color: var(--turquoise);
    border-radius: var(--rounded);
    border:1px solid var(--turquoise);
}
body main h3 ,
body main h4 {
    font-size: 1.5em;
    margin: 2rem 0;
    color:#fff;
}
article ul li {
    position: relative;
}
article ul li:before {
    content: '#';
    position: absolute;
    left: -1.5rem;
}

a.back {
    color: var(--turquoise);
    display:flex;
    align-items:center;
    gap:.5rem;
    margin-left: 1rem;
    font-size: .9em;
}
a.back:hover {
    color: var(--turquoise);
    text-decoration:none;
}

svg {
    stroke: var(--turquoise);
}
footer nav {
    align-items:flex-start
}
footer h2 {
    align-self: flex-end
}

@media (min-width:40em) {
    p {
        max-width:35em
    }
}