/* reset */
html {

}
body { 
    display: block;
    font-size: 1em !important;
}

body > .expand {
    max-width:100%;
}
body > header {
    padding-top:35vh;
}
article > h2:first-of-type, 
main section > h2:first-of-type {
    font-size: calc(2rem + 1.5vw);
}
body main a {
    color: var(--lavender); 
} 
body main > section {
    background: none;
    color: var(--lavender);
    border-radius: none;
}
body main > article {
    background: var(--blueberry);
    color: var(--lavender);
    border-radius: var(--rounded);
    border:1px solid var(--lavender);
}
body main h3 ,
body main h4 {
    font-size: 1.5em;
    margin: 2rem 0;
    color:#fff;
}

time {
    font-size: .8em;
}
svg {
    stroke: var(--lavender);
}
footer nav {
    align-items:flex-start
}
footer h2 {
    align-self: flex-end
}

@media (min-width:40em) {
    p {
        max-width:35em
    }
}